.MainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    width: 800px;
    margin: auto;
    height: auto;
    padding: 20px;
}
.UploadDiv{
    
    width: 700px;
    height:200px;
    border:2px dashed black;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    background-color:azure;
}
.ListofDocumentsUpload{
    width: 800px;
    margin: auto;
    margin-top:20px ;

}